[2014-05-09 23:00] fonz-lu opened #1 "[ErrorException] touch(): Unable to create file .... \lang\de\confide::confide.php because Invalid argument"
Hi, your tool works great, but I have a problem with some packages that have their translation files in the vendor folder.

For example with confide.

This is in a view:

[code]

And when I use the command, I get this error:

[code]

So I pointed to a folder with views without confide and it's working.

[2014-05-10 12:10] #1 closed, assigned to nobody

[2014-06-08 13:24] ghost opened #2 "Laravel 4.2"
Can you please add support for Laravel 4.2?

[2014-06-10 08:21] #2 closed, assigned to potsky

[2014-08-01 20:33] adamzwakk opened #3 "Case Insensitive searching"
This is a little nitpick-y, It took me a couple minutes to realize it can't find

[code]

but CAN find

[code]

The Laravel docs use the lowercase in their example, might be worth including both :)

[2014-08-02 07:17] #3 closed, assigned to nobody

[2014-10-06 18:31] mpociot opened #5 "Laravel 5 folder structure"
Hi,

as Laravel 5 stores the language files in `/resources/lang/` the command should be modified to look for this directory too.

Regards,
Marcel

[2014-10-06 18:33] mpociot opened #6 "Alphabetically sorting the output"
Hey,

I'm using the localization helpers quite a lot - thank you for your work!

Would it be possible to sort the output of the arrays by it's key? I think it's currently sorted by the time the string appears in a file.

Regards,
Marcel

[2014-11-06 09:57] ckithika opened #7 "Controller has no parent"
Hi,

Please elaborate the error below:

action not allowed in file /app/controllers/NameOfController.php will not be included because it has no parent

Thanks.

[2014-11-06 13:27] #7 closed, assigned to nobody

[2014-12-18 20:11] #5 closed, assigned to nobody

[2014-12-18 20:12] #6 closed, assigned to nobody

[2015-06-04 23:33] rbruhn opened #12 "Place holders cause Obsolete string"
Just playing around with this tonight and found using place holders causes the strings to be listed as obsolete. The below string, emails.failed_job_message comes back as obsolete when it obviously exists.

trans('emails.failed_job_message', ['id' => $job->getJobId(), 'jobData' => $job->getRawBody()])

Checked out a few other files where I use place holders and they were returned as well. This is

[2015-06-05 04:58] potsky commented on #12
Hi !

I can confirm it works well on Laravel 4 and placeholders are supported.

If lemma are obsolete, this is just because the regular expression does not work in your case.

I use this config trans for example :

[code]

And this regular expression will not match the second parameter (placeholder definition array) on a new line for  example.

Do you put placeholder definition array on a new line

[2015-06-05 15:54] rbruhn commented on #12
After finding out it does not work on multi-line, I changed those instances and they are now working. However, it appears having more than one place holder is what is messing things up.

language file:
[code]

uses:
[code]

In testing the regex, it was getting hung up on the getJobId() due to the parentheses. I reassigned them like this:

[code]

[2015-08-19 09:36] adriandmitroca opened #13 "FormRequests are not included"
This package doesn't search for translation strings in `Http/Requests`.

Scenario:
When you are forced to write custom validation message for specified Form Requests, you override messages() method and write messages there. For example:

`public function messages()`
	`{`
		`return [`
			`'exists' => trans('password.E-mail doesn't exist in our database.')`
	`	];`
`	}`

Issue: This string isn't catc

[2015-08-19 12:11] potsky commented on #13
Hi,

it should work. Two ideas :

1 - Do not use any dot in your lemmas, dots are reserved by laravel for the array dot notation.

Change

[code]

to

[code]

2 - You file is not in the default directories where the package tries to find lemmas. You can then change directories in the package configuration file.

[2015-12-08 19:54] alariva opened #14 "[Question] Using dynamic fields"
I'm using the following technique to load dynamic translations like so:

`trans('appointments.status.'.$appointment->statusLabel)`

[code]

[I've seen](https://github.com/potsky/laravel-localization-helpers/blob/master/src/Potsky/LaravelLocalizationHelpers/Commands/LocalizationMissing.php#L225) I can avoid them getting into **Obsolete** by naming the key like `trans('appointments.status.dynamic.'.

[2015-12-08 20:32] potsky commented on #14
Hi!

I often use dynamic translations too and unfortunately, the only way I have found to handle this case is to put a trans with all possible dynamic values in comments before the line where I use them.

[code]

There is no other workaround with my plugin at this time...

[2015-12-08 20:41] alariva commented on #14
Seems like a good workaround, though. Thank you!

[2015-12-08 20:42] potsky commented on #14
I just have read my code and fortunately there is something about obsolete lemma !

You need to define a configuration parameter named `never_obsolete_keys`. It is an array of words. All lemma (the id you put in the trans function) containing one of these words will never be considered as obsolete.

Unfortunately the plugin cannot guess what will be the different values of your dynamic php variabl

[2015-12-08 20:45] alariva opened #15 "[Question] Generated files coding style"
Is there a way to configure coding style?

I mean for having -say- PSR-2 compliant output.

1. Array declaration syntax `array()` vs `[]`
2. Indentation depth

I know there might not be a way to change this by parameter, but I cannot either figure out where to change that in the code. I may raise a PR otherwise :)

[2015-12-08 20:47] alariva commented on #14
Yeah, I've seen that, but I was willing to actually have this separation or real obsolete (as to clean them up) and the dynamic fields. Maybe I can get this done by two runs with different parameters, but would take some manual task and human-error risk.

[2015-12-25 03:21] imagra opened #16 "upgrade declarations to Laravel 5.2"
By trying to upgrade to L5.2 ```artisan clear-compiled```  returns errors like this
[code]

The errors can be fixed by changing declarations to:

[code]

[2015-12-25 12:37] #14 closed

[2015-12-25 12:39] #13 closed

[2015-12-25 12:40] potsky commented on #16
Hi,

I have just released blind version 1.3.2 with a fix without any possibility to test during holidays. Could you tell me if problem is resolved now?

[2015-12-25 12:41] #12 closed

[2015-12-25 12:48] potsky commented on #15
Hi !

Good idea, I will use PHPCSFixer and add new options to let you configure the output format as you want !

[2015-12-25 12:54] imagra commented on #16
Thank you, there are no errors now with 1.3.2

[2015-12-25 12:56] #16 closed

[2015-12-25 13:46] alariva commented on #15
Sounds great! This allows to avoid extra formatting work after running translation functions, and keeps code PSR-2 compliant. :+1:

[2015-12-29 13:02] inhedron opened #17 "[BadMethodCallException] Call to undefined method [package]"
Hi,
when i try to run php artisan localization:missing i got an error like that:
[BadMethodCallException]  Call to undefined method [package]

it looks like the package() method was deleted from src/Illuminate/Config/Repository.php in this commit:

https://github.com/laravel/framework/commit/64c15a35d9578748671639748b83b21d16dbd6c2

Can you fix ?

[2015-12-29 13:45] potsky commented on #17
Hi !

Since which version the `package` method has been removed ? Since version `5.2.5` ?

Do I just have to remove this method from the service provider boot method to make it work for Laravel >= v5.2.5 ?

Are you sure you are using v1.3.2 and not the dev-master version ?

I cannot test L5 before next week... so I can only make a blind fix for the moment if you tell me what to do :-)

[2015-12-29 15:45] potsky commented on #17
Ok found...

The documentation is not up to date !

There is a special service provider to load for Laravel 5.

Please read the documentation of the last *Tag* available here : <https://github.com/potsky/laravel-localization-helpers/blob/v1.3.2/README.md>

[2015-12-29 15:45] #17 closed

[2016-01-06 15:50] vjandrea opened #18 "Dot notation not supported"
If i have
[code]
after `localization:missing` i'll get
[code]
As you can see the first keyword is lost. Would it be possible to support dot notation, maybe through an option?

[2016-01-06 17:41] potsky commented on #18
Hello,

you cannot use dots in lemma tokens!

`localization:missing` will parse your code and generate :

- `trans('product.name')` to `'product' => array( 'name' => 'product.name' )`
- `trans('productname')` to `'productname' => 'product.name'`

I could add an option to unsupport dot notation and keep translations in a flat mode. Is this really what you want?

[2016-01-06 18:41] vjandrea commented on #18
I think i missed the documentation part about the dots... i looked now but there's no mention about it.
I use dots just mainly it looks cleaner to have `trans('frontend.product.name')`
It would be great to have an option that keeps translations in a flat mode. Thanks!

[2016-01-06 19:31] potsky commented on #18
And I think I missed the Laravel documentation part about flat lemma !

I am totally rewritting the extension to support all laravel version, add automatic translations with Bing Translator, add output formatting options (PSR0, 2, etc...) so I will add this option in the next release.

For the end of the month I hope...

[2016-01-16 12:08] potsky commented on #18
Hi !

The new version with your feature is ready. I have totally rewritten the package and added new features like automatic translations with Bing Translator, code style for lang files, etc... Do you want to test it before going on production?

[2016-01-16 12:08] potsky commented on #15
Hi !

The new version with your feature is ready. I have totally rewritten the package and added new features like automatic translations with Bing Translator, code style for lang files, etc... Do you want to test it before going on production?

[2016-01-19 09:43] alariva commented on #15
Hey, thanks for comments and sorry for the late reply.
I'd like to test it. Silly question but still, have you got instructions for testing it? I could do it during the next week.

[2016-01-19 10:09] potsky commented on #15
I will release the production version tonight in a few hours. You will need to change the version in composer, all will be explained in the README.md on github.

[2016-01-19 16:10] potsky commented on #18
Ok, the new version is release.

**You need to change your composer version** and set the correct package version according to your laravel version.

[2016-01-19 16:10] #18 closed

[2016-01-19 16:10] potsky commented on #15
Ok, the new version is released.

**You need to change your composer version** and set the correct package version according to your laravel version.

[2016-01-26 22:09] vjandrea commented on #18
Sorry @potsky 'been quite busy lately. I'll test it ASAP, thanks for your work!

[2016-01-27 01:14] alariva commented on #15
Hi! Just upgraded the version to `2.3`, seems to have quite a lot of new work, but I cannot find out how to get a PSR-2 compliant output. Any hint? :)

[2016-01-27 07:52] potsky commented on #15
Take a look at the latest configuration file. Given that you just upgrade your installation, you don't have the new parameters.

https://github.com/potsky/laravel-localization-helpers/blob/master/src/config/config-laravel5.php

You just have to set the level parameter to psr2 and you're ok.

[2016-01-27 11:32] alariva commented on #15
Seems to be working all right.
Well done!

[2016-01-27 11:32] #15 closed

[2016-01-29 14:18] marvinschroeder opened #20 "Problem with backup when dot is in path"
We have a DOCUMENT_ROOT structure where the domain name is part of the path. For example: `/var/www/kd/domain.com/`

When the command :missing is backup'ing the files, we get an Error Exception because the path is incorrect and the permission is denied. The path generated by your script (preg_match) is like:
`/var/www/kd/domain.20160129_151020.php`

So i propose to change the generation of the bac

[2016-01-29 14:24] potsky commented on #20
Hi marvinschroeder,

Thank for reporting and fortunately you have a permission denied error !

I will check this right now and publish a fix.

[2016-01-29 19:57] #20 closed

[2016-01-29 20:11] potsky commented on #20
Hi !

Ok it is fixed now, you can update the package with composer. Sorry for this ugly bug :-(

[2016-02-01 11:26] marvinschroeder commented on #20
Thanks! It's working now! Great package!

[2016-02-01 11:28] potsky commented on #20
Thank you!

[2016-02-01 11:48] marvinschroeder opened #21 "[REQUEST] Show obselete strings when in array"
Would be great to show obselete strings when they are nested in an array.

We have something like

[code]

So if the key `app.buttons.change` is obsolete, your package recognizes this, prints it in the command line interface (1 obsolete strings (can be deleted manually in the generated file)) and when the file is created, nothing shows up after the obsolete strings section (comment).

If it isn't

[2016-02-01 12:42] potsky commented on #21
It is a old problem that should be fixed.

If the obsolete key is a root key (like your `buttons` key for example), the key will be set in the obsolete array at the beginning of the file.

If the obsolete key is a child key, it will not be included because I cannot redefine the parent key of course which should now contain valid and obsolete keys...

A workaround could be setting an `LLH_obsolete`

[2016-02-01 13:09] marvinschroeder opened #22 "Auto generated / dynamic keys not working"
In your config file is the option for `never_obsolete_keys` and your example for this option.

But when we have something like

`trans("app.sections.$section->id")`

this lemma is never found at all. So setting `sections` as a key in `never_obsolete_keys` has no effect because the inital lemma wasn't found.

[2016-02-01 13:14] potsky commented on #22
Indeed, this lemma will be never found. In fact it is found but I reject it because there is a dollar char inside (so there is PHP code, so it is dynamic).

You need so to manually create lemma `"sections.1"`, `"sections.2"`, ... in your `app` lang file.

If you run the missing command without telling that `sections` is a reserved work in your code for dynamic lemmas, all manual entries of your `a

[2016-02-01 13:20] marvinschroeder commented on #22
I did this with the following data:

app.php
[code]

Then i defined the key `sections` in the `never_obsolete_keys` config option but the whole `sections` array is removed.

[2016-02-01 13:25] potsky commented on #22
Have you set the configuration like this ?

[code]

[2016-02-01 13:25] marvinschroeder commented on #22
Yes i did!

[2016-02-01 13:42] potsky commented on #22
Can you help me to solve this problem?

Go to the package folder and search for the `/src/Potsky/LaravelLocalizationHelpers/Command/LocalizationMissing.php` file

At line 365, you should see :

[code]

Could you replace by :

[code]

and send me the server error log output please?

[2016-02-01 13:51] marvinschroeder commented on #22
[2016-02-01 14:46:25] development.INFO: 1. sections.1.name
[2016-02-01 14:46:25] development.INFO: 2. payment-methods
[2016-02-01 14:46:25] development.INFO: 2. sections
[2016-02-01 14:46:25] development.INFO: UNSET
[2016-02-01 14:46:25] development.INFO: 1. sections.1.name-short
[2016-02-01 14:46:25] development.INFO: 2. payment-methods
[2016-02-01 14:46:25] development.INFO: 2. sections
[2016-02

[2016-02-01 13:54] marvinschroeder commented on #22
Maybe i need to add, that the `sections` is removed when we add another string to a view and the package adds the new string to the lang file. When nothing changes, whether in lang file or view or controller, the lang file is not changed and the `sections` key is kept.

[2016-02-01 16:44] potsky commented on #22
Ok bug found!

[2016-02-02 10:49] #21 closed

[2016-02-02 10:58] potsky commented on #22
Hi Marvin,

I have published a beta version with fixes for issues 21 and 22. Can you try the `dev-master` target in composer and tell me if it is ok for you?

[2016-02-02 15:29] marvinschroeder commented on #22
Sorry, but that dev-master branch requires laravel 5.2.* - we are developing on 5.1.*

[2016-02-02 15:51] potsky commented on #22
Ok, I have publish for 5.1 with `dev-master#8e7d28b492eb1f99b22ca3019e38cc8e131489b9`

[2016-02-02 16:17] marvinschroeder commented on #22
Looking good! Keys were protected!

[2016-02-02 16:26] potsky commented on #22
Keys were protected, nice !

And obsolete *child* keys are now injected in the `LLH:obsolete` array, correct?

[2016-02-02 16:28] marvinschroeder commented on #22
Correct!

[2016-02-02 16:28] potsky commented on #22
Ok, so I publish 2.x.2 right now!

Thank you for reporting and for your time!

[2016-02-02 16:28] #22 closed

[2016-02-02 16:36] marvinschroeder opened #23 "Automatic translations"
How is the automatic translations option working?

Looking in the code, we guess it's taking the last part of the "lemma" and translates it to a specific language, taking the `default_language` from the config.

Is it possible to define the `default_language` where everything is already translated and translate the values of the "lemmas" to the values of the "lemmas" of the other languages? So we

[2016-02-02 16:37] marvinschroeder commented on #22
No problem! We just opened another request/issue ;)

[2016-02-02 16:51] potsky commented on #23
You just need to create a Microsoft account as explained at the end of the configuration file <https://github.com/potsky/laravel-localization-helpers/blob/master/src/config/config.php>

The `default_language` is the language that you use when writing lemma in your PHP code in `trans` functions etc... It is optional since the Microsoft API automatically guess your input language. Set it only if tra

[2016-02-09 07:28] ju5tify opened #24 "_ide_helper"
Please remove _ide_helper.php from repository as it can interfere with main project's _ide_helper.php

[2016-02-09 07:55] potsky commented on #24
Correct, it will be removed in next release.

[2016-02-09 07:56] potsky commented on #24
Is it ok for you if it renamed as `_ide_helper.php.remove`? Is your IDE still use it to analyse code?

[2016-02-10 10:30] #24 closed

[2016-02-17 13:13] ju5tify commented on #24
I guess you should put it to .gitignore as it is dynamically generated file

[2016-02-25 11:58] alariva opened #25 "Build error when trying to install `potsky/microsoft-translator-php-sdk` as dependency"
Hi,

I'm getting a Travis build error when trying to install `potsky/microsoft-translator-php-sdk` as dependency of `potsky/laravel-localization-helpers`.

The error is as follows.

[code]

[Full Build Info](https://travis-ci.org/timegridio/timegrid/jobs/111724794)

Is there anything I can do from this end to install it successfully?

Thanks in advance!!

[2016-02-25 12:23] alariva commented on #25
Maybe using a concrete version of `potsky/microsoft-translator-php-sdk` would fix it?

[Like so](https://github.com/alariva/laravel-localization-helpers/commit/499ea08a465a8fe6cca4b083fff743948275aec8)

[2016-02-25 13:23] potsky commented on #25
Hi !

I cannot check this this week. If you cannot wait for next week, yes, use an explicit commit hash in composer. Use the last one of course in the master branch.

[2016-02-25 13:26] potsky commented on #25
I just have updated the packagist repository, could you try again please ?

[2016-02-25 13:26] alariva commented on #25
I think this is a good solution, but I'm not sure on how to achieve this, as the `potsky/microsoft-translator-php-sdk` is a dependency of `potsky/laravel-localization-helpers`, and I have no control over the `composer.json` that ships with `potsky/laravel-localization-helpers` package. Maybe I'm missing something. So far I managed to make the build by removing `potsky/laravel-localization-helpers`

[2016-02-25 13:27] alariva commented on #25
Oh! Sure, I can check this out. Hold on tight ;)

[2016-02-25 13:46] alariva commented on #25
Worked just [perfect](https://travis-ci.org/timegridio/timegrid/builds/111745989)!

Thanks for the support. By the way, I'm interested in knowing how got this fixed since I'm a newcomer package dev :)

[2016-02-25 13:46] #25 closed

[2016-03-07 15:42] Remo opened #26 "Keep files if only date time would change"
I've got a number of projects with a lot of languages and several translation files. Whenever I update them, I get a ton of changes, most of them only get a new header info `Generated via "php artisan localization:missing" at 2016/03/07 15:19:58`.

Do you have any reason why we shouldn't ignore those files completely? I'd suggest to keep the previous date time to avoid having unnecessary long comm

[2016-04-06 06:48] potsky commented on #26
Hi !

Sorry I am a little bit swamped these days, I will try to take a look on this problem. Indeed it is annoying for version control commits.

[2016-06-10 02:15] imagra opened #28 "Package fabpot/php-cs-fixer is abandoned"
By updating a project composer claims:

```Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.```

[2016-06-15 13:47] gwenth opened #29 "Obsolete strings never go back into main array"
Hi !

I don't know if this is voluntary or not but if you decide to use obsolete strings that have already been translated and call a localization:missing, the command will end up with `Drink a Piña colada and/or smoke Super Skunk, you have nothing to do!`

IMHO, the problem is the strings still remain in obsolete array and are not moved back into the main array.

That's more a thought than an iss

[2016-06-15 22:40] davericher opened #30 "Obsolete Strings and replacements"
It seems every trans key I use that involves a replacement associative array gets marked as obsolete.

[2016-07-21 16:33] rbruhn opened #31 "Question about TODO files in vendor directory"
When localization:missing command, there are files generated and placed in the lang/vendor directory. Many of these look like this:

[code]

Which refers to this:

[code]

And is clearly present in the lang/en/buttons.php file that is generated:

[code]

So, I'm wondering why this is telling me I have a TODO when it already exists?

[2016-07-29 07:41] adriandmitroca opened #33 "Track multi-line function calls"
Hey,

I found that this package has some serious issue when you call `trans()` function like this:
[code]

Situation like this is tracked like obsolete string or is not tracked at all. It works just fine when parameters are passed in the same line.

[2016-07-29 08:11] potsky commented on #33
Hi,

I will check this in September but I think that default regex do not support multiline trans. You can modify this behavior in your configuration file by setting a correct regex modifier to match multi lines.

In your example, the closing ) is missing. Is this not the problem ?

[2016-07-29 08:31] adriandmitroca commented on #33
Hey,

Thanks for your answer. Missing ) is just typo in example.

[2016-08-11 15:39] cdarken opened #34 "Php >= 5.4 array syntax"
It would be nice if the exported arrays would use the new syntax for arrays. I know var_export still uses array() notation, but I found this http://stackoverflow.com/a/24316457 and it seems to be working in my tests.
If it's ok for you I could create a pull request with it.

[2016-08-12 10:03] potsky commented on #34
Hi !

You should take a look at the `code_style` configuration parameter in your configuration file and use the correct PSR setting according to your array style.

[2016-08-12 10:44] cdarken commented on #34
Ah, didn't know about that setting. I will take a look at it. Thanks. If this fixed my problem, I will close the issue.

[2016-08-12 11:19] cdarken commented on #34
Do you know which fixer will output the array like this (keep opening [  on the same line as => ) ?
[code]

[2016-08-12 11:40] cdarken commented on #34
It doesn't seem to be. It's fine like this though. Thanks a lot!
Great package, very useful.

[2016-08-12 11:40] #34 closed

[2016-08-24 14:35] o-ndr opened #37 ""Unable to write file in directory...""
(I am a beginner, bear with my silly questions please)
Hi,
I am running php artisan localization:missing, lemmas are being found in my views (I use trans()), but I ma getting the following message: "> Unable to write file in directory /home/vagrant/Code/fitl/resources/lang/en/shared". So no lang files are being created in target language subfolders. As you can tell, my app is on a Homestead virtua

[2016-08-29 10:16] adriandmitroca opened #38 "Support fallbacks"
Hey @potsky,

What do you think about idea that accept null values as a translations? This approach would allow you to use translations fallbacks - because you probably want to display english translation to the user instead of something like `TODO: hello_user`

This could be possible using a custom parameter like:
`php artisan localization:missing -l null` or `php artisan localization:missing --s

[2016-08-29 10:18] adriandmitroca opened #39 "VCS friendly updates"
Hey @potsky,

It would be nice to update translations without changing content of basically whole translation's file. In this situation, when you create new translation string you don't commit change with bunch of changed lines but just with one insert.

[2016-09-27 08:16] potsky commented on #28
Fixed in next release

[2016-09-27 08:16] #28 closed

[2016-09-27 08:58] pifoux2000 opened #41 "Laravel 5.3 support"
any plan to release it soon ? Or is there any work around to install it in a laravel 5.3 application?

[2016-09-27 09:11] potsky commented on #41
I will release a new version these days. I can check the 5.3 version support by the way.

[2016-09-27 09:16] potsky commented on #41
There is an error when you execute the command or you cannot install it ?

[2016-09-27 10:21] pifoux2000 commented on #41
Composer refuses to install it as laravel 5.2.* is required in the package composer.json file. I didn't manage to install it manually either. Great package by the way.

[2016-09-27 14:21] imbrish commented on #41
I've been waiting for updates on this package for so long. Great to see you're back!

[2016-09-27 14:59] potsky commented on #41
Hey :-) Thanx !

I was obliged to take a break for almost 6 months for private reasons. I had no more computer and no more time to answer. But I am back and I have bought a new powerbook so here we go! I just need to install all stuffs to develop and all my projects will be up to date. Stay tuned...

[2016-09-27 15:21] potsky commented on #38
Thanx @adriandmitroca for the PR, it will be included in the next release.

[2016-09-27 15:21] #38 closed

[2016-09-27 15:22] potsky commented on #33
Will be fixed in the next release.

[2016-09-27 15:22] #33 closed

[2016-09-27 15:25] potsky commented on #31
Hi @rbruhn,

I am sorry not to have been able to get back to you sooner. The behaviour you describe is anormal. What command do you execute ?

Could you send me your `lang/en/buttons.php` file please ?

[2016-09-29 08:49] potsky commented on #39
Hi,

the whole file is regenerated but the same method as on previous run so it is not changed. Here is a example of a modification:

![screenshot 2016-09-29 10 47 33](https://cloud.githubusercontent.com/assets/408237/18947171/43ad349e-8632-11e6-833c-606e9de813f4.png)

How can you get a whole changed file with a new line for example?

[2016-09-29 08:51] potsky commented on #37
Hello,

it seems your `/home/vagrant/Code/fitl/resources/lang/en/shared` folder has incorrect rights set. The current unix user who execute the `php artisan localization:missing` command cannot write in this directory.

[2016-09-29 08:52] potsky commented on #30
Hi @davericher,

could you provide an example please ?

[2016-09-29 08:53] adriandmitroca commented on #39
I was thinking only about new translations. Let me give you a quick example for that:

Instead of that:
[code]

I would like to get this:
[code]

That would avoid a lot of git conflicts while few people in the team works on similar translations at the same time.

[2016-09-29 08:57] potsky commented on #39
You should remove comments from the lang files, shouldn't you?

By using the `-c` or the `--no-comment` option.

[2016-09-29 08:57] adriandmitroca commented on #39
Would that remove separation between new and old translations?

[2016-09-29 09:00] potsky commented on #39
Necessarily because you want `h1` to be with `register_button` lemma or there is something, which I did not catch :-(

You will be able to check new strings to translate by searching for TODO or your custom marker.

[2016-09-29 09:01] potsky commented on #29
Hi @gwenth,

in fact if an obsolete string is used again, it should go the main block and not stay in the obsolete one. I need to check this behaviour.

[2016-09-29 10:25] potsky commented on #29
I just have pushed a commit with a [test](https://github.com/potsky/laravel-localization-helpers/blob/master/tests/fixes/Gh29Tests.php) for this behaviour and it is ok, I cannot reproduce your problem.

The test scan file1 with only `Lemma1`. Then it scans file2 with only `Lemma2`. And finally it scans file1 again.

- `Lemma1` is generated in lang file
- Then `Lemma1` is obsolete and `Lemma2` is g

[2016-09-29 11:57] imbrish opened #42 "Update language file keeping the original formatting"
So the point is, if dedicated setting is on, the script would scan the file, look for things like new line before array opening, keys notation, tabulation, etc. Then it would add missing lemmas in proper places, mark them with "TODO:" label, mark obsolete translations with "OBSOLETE:" label etc. That would keep original style of the file, all the comments etc, yet make maintenance of translations

[2016-09-30 11:18] potsky commented on #41
Hi @pifoux2000,

I just have pushed a new branch for Laravel 5.3.

You should require the package with this version match `2.4.*` in composer.

Can you tell me if it is ok on your installation please?

[2016-09-30 11:26] pifoux2000 commented on #41
Hi @potsky

thank you very much it worked perfectly :-)

[2016-09-30 11:31] potsky commented on #41
Cool!

[2016-09-30 11:31] #41 closed

[2016-09-30 15:08] potsky commented on #26
Hi @Remo,

why don't you use the `--no-date` option to avoid this ?

[2016-09-30 15:09] #23 closed

[2016-09-30 15:13] Remo commented on #26
@potsky because it would be nice to have the dates, but I guess I can just ignore them and use my git log. I think it just looks odd because the default settings aren't ideal in my opinion, they create lots of changes, but `--no-date` is fine I think

[2016-09-30 15:16] potsky commented on #26
@Remo,

In fact, to be honest, I really don't know why I have put this date in lang files!

It has nothing to do here from a logical point of view. The date is handled by the file modification date or by the CVS but not by the file data itself...

[2016-09-30 15:16] #26 closed

[2016-10-19 15:07] alariva opened #43 "File format compatibility with Transifex"
Hi @potsky ,

I was wondering if the helpers would generate [Transifex](https://www.transifex.com)-compatible files (not a privative format, but they require certain syntax specifications).

I've used the helpers from the very beginning to generate my base lang files, and since I'm willing to use Transifex for the child lang branches, I'm handling [this task](https://github.com/timegridio/timegrid

[2016-10-24 12:38] FilipKrizanic opened #44 "Specific 'Lang' file to ignore"
In Laravel 5.1.x / 2.2.4
In laravel-localization-helpers.php is an array in which developer can specify which language file will be ignored.

Language files:
- ../../de/cms.php
- ../../en/cms.php
- ..e.t.c..

So if someone would want to filter only one cms.php under de/cms.php and would want all the other cms.php translation files to be untouched, then some additional conditions would have to be i

[2016-10-24 12:47] FilipKrizanic commented on #44
Locally resolved.

[2016-11-01 02:17] mtx-z opened #45 "Clean obselete, keep existing, add new with default + questions"
Hey there,

thanks for the cool package. Seems really helpful, and i cant wait to get it working.
This is not an issue, but i would like some advices on the way to make what i need.

- I already have translation file with some good (not obselte) value translated, some good value not translated (empty/null), some obselete value (strings no more in blade templates)
- I updated my templates with new

[2016-11-03 17:22] mtx-z commented on #45
UPDATE :
- my method worked :) it made exactly what i wanted.
- but havent found a way to update string with empty/null values in string with value like "todo: %LEMA"

Ty !

[2016-11-10 11:46] potsky commented on #45
Hello,

You should delete manually all lemma with `"TODO: ..."` values. It cannot be automated by the package but an easy regex find with your favorite editor will do the job.

Then use the following command to set all lemma values to null to provide fallback translations to all missing values :

[code]

[2016-11-10 11:51] #39 closed

[2016-11-10 16:13] mtx-z commented on #45
Hello,
thanks for you answer.
Ok I got, it. I need to manually delete all lemmas that has been generated with the `"TODO: ..."` in lang files, then run command with `null` param to get empty values as default value for new added strings.

Perfect, thanks :)

[2016-11-18 13:03] arthur-olafsson opened #47 "When trans() gets an array of strings, the tool thinks it's a missing string"
First, thanks for an awesome tool! It's made my life a lot easier.

I ran into a minor issue. Assume there's a translation file called `things.php`:

	'foo' => [
		'bar' => 'bar',
		'baz' => 'baz',
	]

Then, somewhere, there's a call to `trans('things.foo')` and uses the resulting array. When I run the artisan command in dry-run mode, it thinks that `things.foo` is a missing string.

[2016-12-02 11:50] andreich1980 opened #48 "Need help. What is "family"?"
I ran `localization:missing` and got messages like that
[code]
What is the family?

Strings in my blades are like:
[code]

Strings in my controllers are like:
[code]

Please help me.

[2016-12-02 15:16] potsky commented on #48
Hello,

the family is the name of the lang file. e.g. : `@lang('message.New account')`
Laravel will search in the `lang/xx/message.php` file for array key `New account` and get the corresponding value.

If you simply write `@lang('New account')`, I don't know where Laravel can search. Perhaps it is a new feature (because I don't have write a line of Laravel code for several months) but I don't thi

[2016-12-14 17:03] #37 closed

[2016-12-14 17:26] potsky commented on #47
Hi,

only in dry-run mode? In normal mode, is your array preserved in the translation file?

[2016-12-20 08:24] cdarken opened #49 "laravel/framework as a dependency"
I'm using this package with Lumen. But because laravel/framework is specified as a dependency, it pulls the entire framework on `composer install`. I was wondering, maybe you can you limit the dependencies to separate Illuminate packages.

[2016-12-20 08:51] potsky commented on #49
Hello,
indeed, I use this dependency because of the way of Laravel (according to version) to boot service providers and declare facades.
Do you have an idea of the mutual composer dependency between Laravel and Lumen ?

[2016-12-20 08:57] potsky commented on #49
- `lumen-framework` embeds the `Laravel\Lumen\Application` class
- `laravel-framework` embeds the `Laravel\Foundation\Application` class

It seems to be a problem... Do you know a package which has the expected behaviour and which works with both Laravel and Lumen ?

[2016-12-20 08:58] cdarken commented on #49
Looking into it.

[2016-12-20 10:13] cdarken commented on #49
There are 2 options that I see right now:
1. make a new service provider for Lumen (like https://github.com/nordsoftware/lumen-cors/blob/develop/src/CorsServiceProvider.php)
2. recommend the usage of the package https://github.com/irazasyed/larasupport that adds some helper functions that you use in the package
Both require minimal changes outside of the service provider, like usage of config() he

[2017-01-05 08:52] cdarken commented on #49
Hi and happy new year. Did you think about this? I've pushed a branch with the modifications for Lumen compatibility on my fork.

[2017-01-06 12:36] potsky commented on #49
Hi !

Happy new year to you too!

Your commit is here : <https://github.com/cdarken/laravel-localization-helpers/commit/0e7dbd5b36ac7289966556e7c65910b514233a44>

- I can simply change the composer dependency and use yours given that the Laravel Framework has this dependency too with the same version logic.
- I can use the same `config` helper given that it exists in Laravel

Than I can check the

[2017-01-06 13:34] cdarken commented on #49
For loading a config file you copy it manually in `config/` you use this call in bootstrap/app.php:
[code]

[2017-01-06 18:47] potsky commented on #49
Ok... So I will finally create a new branch especially for Lumen with the according documentation.

[2017-02-24 15:09] schniper opened #51 "output-flat flag updated behaviour suggestion"
Hi,

I am normally translating strings in the format __('labels.my long string'), where "my long string" on occasions contains periods.
Although the -w flag properly flattens the (supposed) array structure, the translation value ends up being the segment after the last period (LocalizationMissing, line 377).

Is this normal or it would be better to have something like the following at that line:

[2017-02-28 07:54] ocdC0d3r opened #53 "Syntax error in Factory/Localization.php"
Hi, I'm using Laravel **v5.2.45**, it could be I'm missing something, basically I followed the installation instructions and when I try to run **any of the localization commands** I get this error
`syntax error, unexpected ';', expecting ',' or ')' in /var/www/html/local.familiando/vendor/potsky/laravel-localization-helpers/src/Potsky/LaravelLocalizationHelpers/Factory/Localization.php(323) : eval

[2017-02-28 17:49] #48 closed

[2017-02-28 17:53] potsky commented on #53
Hello !

Could you modify the line 323 of file `/var/www/html/local.familiando/vendor/potsky/laravel-localization-helpers/src/Potsky/LaravelLocalizationHelpers/Factory/Localization.php`, change :

[code]

by

[code]

and send me the output ?

[2017-02-28 18:16] potsky commented on #51
See #52

[2017-02-28 18:16] #51 closed

[2017-03-01 10:16] potsky commented on #47
Ok, it does the same when not running in dry-mode. I will check if the key already exists even if the value is not a string. Will be fixed in the next release.

[2017-03-01 10:16] #47 closed

[2017-03-01 11:13] potsky commented on #53
@ocdC0d3r,

I tried a lot of thing and I cannot reproduce this bug. I am really impatient to see which lemma can cause this problem!

[2017-03-01 11:29] ocdC0d3r commented on #53
Sorry it took me this long, the output now apparently gives the proper result followed with the same error

`'widgets/pendingInvitations.invitations.pending'
'widgets/pendingInvitations.view.details'
'widgets/members.content.title'
'widgets/members.content.details'
'widgets/membersInStructure.content.title'
'widgets/membersInStructure.content.view'
'widgets/membersInFirstRow.content.title'
'widget

[2017-03-01 11:43] ocdC0d3r commented on #53
Ah as I'm looking through the log I've noticed I have this **blade directive**
`@lang('pages/master/home.offers.message.' . session('message'))`
which might be causing the problem

[2017-03-01 11:44] #49 closed

[2017-03-01 14:55] potsky commented on #53
Ouch !

The problem is this dynamic field indeed. You should ignore it. The extension cannot guess what could be the value of `session('message')`. You should rename your *dynamic* fields like this :

[code]

1. The extension will ignore this because there is a new key named `dynamic`. You can change this value in the configuration file in the `'never_obsolete_keys'` section.
2. And the code will

[2017-03-01 15:19] ocdC0d3r commented on #53
Indeed, the main problem are those dynamic fields with concatenation. There are only few places in my code where this case occurs, shouldn't be a problem fix it on my end.

Thanks

[2017-03-01 15:35] #53 closed

[2017-03-03 10:02] potsky opened #54 "Lang files are created when using dry-run"
It should not

[2017-03-03 10:12] #54 closed

[2017-03-03 10:42] #44 closed

[2017-03-06 13:55] arthur-olafsson commented on #47
You, sir, are a gentleman and a scholar. Sorry I missed your reply back in November! Thanks a bunch for looking into this and coming up with a fix!

[2017-03-08 09:07] ocdC0d3r opened #55 "Dynamic fields with parameters In language lines"
Maybe this is more of a question, somewhat referencing issue #53
I am still getting the same error when running **localization:missing** command but on a different line

My directive is this:

[code]

And my translation file looks like this:

[code]

Then I added **message** to the **never_obsolete_keys** array
[code]

And the **error_log** gives this output:

[code]

[2017-03-12 05:40] subotkevic opened #56 "Laravel 5.4 JSON support?"
Hi,

I'm just wondering will this package support Laravel's JSON translation system?

Thanks.

[2017-03-14 09:24] cdarken commented on #31
Just noticed the same behavior.
I have this in a model: `trans('messages.status.new')` and the translation is generated in `resources/lang/en/messages.php` but also in `resources/lang/vendor/messages.php`.

[2017-03-14 16:13] potsky commented on #31
Hi @cdarken,

this is normal because the extension thinks that the `vendor` folder name is a `lang` name. So it generates a `messages.php` lang file...

Why do you have a `vendor` lang folder ? Is it a laraval convention that I have missed ?

[2017-03-14 16:17] potsky commented on #56
Hi @subotkevic,

yes I need to support the new JSON lang format. But I don't know yet how to do this. I think I will change the current behaviour. When a lemma is not prefixed by a family, it throws an error. Now it will put this lemma in the JSON file instead.

But the problem is how to detect supported langs. Now I take a look on the sub-folders in the `lang` folder. Given that this structure is

[2017-03-14 22:57] cdarken commented on #31
The vendor in the lang folder is for overriding the translations belonging to the packages.

[2017-03-15 08:10] potsky commented on #31
Oops :-)

So I really need to remove it from the folder scan !

[2017-03-15 08:26] cdarken commented on #31
Or maybe, if it's not very complicated, you could search for namespaces specific to the vendors (those separated by ::) and update the translations if there are new strings, what do you say?
Only if the translations are copied from the package.

[2017-03-15 09:18] potsky commented on #31
Good idea. This is supported in 4.2 so it is a global feature, nice.

How to you write the trans lemma for a package ?

[2017-03-16 14:27] potsky commented on #31
I will exclude the vendor folder in the next version and will implement vendor translation in the v3. I need to rewrite the extension to do this.

[2017-03-16 14:31] potsky opened #57 "Manage vendor translations"

[2017-03-16 14:32] potsky commented on #57
related to #31

[2017-03-17 11:00] potsky opened #58 "Refactor"
Use objects instead of arrays to handle :

- lemma
- lang files

Lemma properties :

- collection of lang file source object (cyclic definition !)
- family
- key
- value
- collection of translated value
- ...

Lang files properties :

- type (vendor lang, lang or json)
- collection of language file paths
- obsolete collection of lemma (cyclic definition !)
- new collection of lemma (cyclic definit

[2017-03-17 11:21] potsky opened #59 "Dot notation split"
Refer to #52 for the regex dot notation split feature

[2017-03-17 11:33] #31 closed

[2017-03-17 12:07] #59 closed

[2017-03-18 20:21] pentatonicfunk opened #60 "How About Cognitive Service Integration"
i heard microsoft plan to end subscription for datamarket and dataservice on 3/31/2017 and migrate to their new Cognitive Service
https://datamarket.azure.com/dataset/bing/microsofttranslator
is there any plan to integrate with it ?

[2017-03-21 15:57] potsky commented on #60
Unfortunately no because I tried to sign up to the new service and credit card is now mandatory.

Sorry for this.

[2017-03-21 15:57] #60 closed

[2017-03-22 14:46] vesper8 commented on #56
looking forward to this! when do you think the beta will be available?

[2017-03-22 15:05] potsky commented on #56
Absolutely no idea! I need to rewrite a big part of the extension to manage several types of langage files.

[2017-03-22 15:05] potsky commented on #56
Perhaps in several weeks...

[2017-03-22 15:13] subotkevic commented on #56
Or we could create new package for that. Because we need to:

Scan all the files and get all the `__('Strings')` and put them in-to lang files `langs/{locale}.json` to allow developers translate them without putting each string in-to the file.

[2017-03-22 15:20] potsky commented on #56
I prefer to keep it the same package, 99% of the code is in common. I just need time to develop this! Next week is busy, both next are French holidays and I am with my children so dev will begin before April 18th.

[2017-04-28 04:12] gemal opened #61 "friendsofphp/php-cs-fixer old version"
in https://github.com/potsky/laravel-localization-helpers/blob/5.0/composer.json

you have:

[code]

shouldn't that be moved to require-dev?

[2017-04-28 05:48] potsky commented on #61
Hi @gemal,

nice to see you on a an other repo ;-)

This package is required to generate lang files according to your code style. So this is not a dev requirement. It is used according to the `code_style` option in configuration file.

But my package should be used as a dev requirement given that it is only a developer helper.

[2017-04-28 07:23] gemal commented on #61
I have `"potsky/laravel-localization-helpers"` in `"require-dev"`

can you dump the version of it?

[2017-04-28 09:46] potsky commented on #61
What do you mean by dumping the version of it ? If you talk about the version you need to use, it depends of course of your laravel version.

[2017-04-28 13:53] gemal commented on #61
sorry meant bumping the version of friendsofphp/php-cs-fixer to the newest version

[2017-05-10 21:13] #30 closed

[2017-05-12 20:58] gemal commented on #61
[code]

I cant install the newest friendsofphp/php-cs-fixer into my project :(

[2017-05-15 10:34] potsky commented on #61
Hi @gemal,

can you modify my `composer.json` requirement about `friendsofphp/php-cs-fixer` and set it to `^2.3` ? Does it still works ?

[2017-05-15 10:50] potsky commented on #61
Let down... The way CSFixer works has changed... I need to read the doc and implement the new format.

[2017-05-15 11:00] gemal commented on #61
thx

[2017-07-20 18:20] fr3ddy opened #62 "Migration to Azure"
Hey,

are you planning to migrate your microsoft-translator api towards azure?

More Infos:
https://cognitive.uservoice.com/knowledgebase/articles/1128340-announcements-action-required-before-april-30-20

Would be amazing! I totally love the -t for some basic translation!

Regards,
Freddy

[2017-07-20 18:38] riyuk commented on #56
Great work!
Is there an ETA for JSON support?

[2017-08-11 15:25] samy opened #63 "Support for Laravel-JS-Localization package"
It should be useful to have support this library https://github.com/rmariuzzo/Laravel-JS-Localization

In fact, `php artisan localization:missing` considers as obsolete translation strings even if in JS files.

[2017-09-23 22:18] vesper8 opened #64 "support for Laravel 5.5?"
I think all you need to do is change the illuminate/support from 5.4.* to 5.5.*

[2017-09-24 12:58] limenet commented on #64
I've been using a [fork](https://github.com/limenet/laravel-localization-helpers) for a few weeks now where I added support for Laravel 5.5 and it seems to be working fine. You can use it by adding

[code]

to your `composer.json` or wait until #65 is merged.

[2017-09-24 13:02] potsky commented on #64
Hi !

I will take a look on the PR and adapt tests to remove PHP5.6 given that PHP7+ is required for Laravel 5.5 and given I have no more time to upgrade the microsoft translation package.

[2017-09-24 13:04] limenet commented on #64
@potsky if you want me to, I can work on adapting the tests and include it with the PR!

[2017-09-24 13:22] potsky commented on #64
@limenet Thank you very much for this proposition ! I am very happy to have a contributor ;-)

I have merged your PR and change some (dirty) thing from my code.

The test problem is due to the Microsoft API change. My package depends on an other package of mine : https://github.com/potsky/microsoft-translator-php-sdk

It must be updated to support the new Microsoft endpoints.

If you can do this,

[2017-09-24 13:30] limenet commented on #64
@potsky You're welcome!

I just came across the same issue you mentioned about the Microsoft API change. Since I have no experience at all with Microsoft's Translation API (and also don't use it in combination with this package), I'm afraid, all I can help you with, is fixing the other tests and getting them ready for PHP 7.

I've already updated some packages etc. so the test suite is compatible

[2017-09-24 13:41] potsky commented on #64
@limenet don't bother with this, I am on the track with this now ;-)

Publish in a few moment

[2017-09-24 14:27] potsky commented on #64
PHP CS Fixer has changed rrrggg. Need to change the doc, the code, etc...

[2017-09-25 09:15] potsky commented on #62
Hi,

what is your Laravel version ?

I just have updated the translator package and will update the localisation package today I think.

[2017-09-25 12:41] potsky commented on #64
Ok done. Master branch is ok. I will publish a new branch for Laravel 5.5

[2017-09-25 12:41] #64 closed

[2017-10-18 09:18] philippejadin opened #66 ""Generated via "php artisan localization:missing" at xxx" not practical with version control"
Each time I run php artisan localization:missing, every file is updated with the "generated by" line.
Then version control (git) want to update all the lang files and I need to unstage manually each file.

Would be great to have an option to not add this "generated" line. Ideally in config so it can be made a default.

Is it a good idea? Intended behavior?

And thank you for the great tool btw

[2017-10-18 13:04] potsky commented on #66
Read the doc ;-)

Use the —no-date argument or with the short syntax :

php artisan localization:missing -d

It should save your commit history. Enjoy !

[2017-10-18 17:59] philippejadin commented on #66
Oh my! Sorry for that :-/

[2017-10-18 17:59] #66 closed, assigned to nobody

[2017-12-01 12:59] binar123 opened #67 "LLH v2.5 cant find lemma used like __('table.smth')"
Hi
i have problem with finding all translating words in helper __()

Adding smth like '@__\(\s*(".*")\s*(,.*)*\)@U', to config array doesnt seems to work

Is there any option to make it work or i should change all __() to 'Lang::Get ?

[2018-01-14 15:27] azuddin opened #68 "Generated lang files contains an invalid JSON structure."
generated php code instead of json.
<img width="667" alt="screen shot 2018-01-14 at 11 25 57 pm" src="https://user-images.githubusercontent.com/8788888/34917517-71dbf430-f982-11e7-8c6b-54e37d19cbc1.png">

[2018-02-19 19:24] scottybo commented on #56
Any news on this?

[2018-02-20 07:02] potsky commented on #56
No ETA, never finished and I don’t work with PHP for the moment.

[2018-02-24 09:38] subotkevic commented on #56
I think I'll take care of this feature by creating new package for that specifically.

[2018-02-27 12:04] mserralta commented on #68
Same here....

[2018-02-27 14:51] knno commented on #68
You can see issue #56

Hey, you can workaround this by requiring the php file, and overwriting a JSON encoded string of the array parsed.

Thanks alot to the author of this package. However, this is my **Temporary** solution.
Consider this:
1. Rename a previous "en.json.php" file to "en.json" (which is actually PHP syntax).
Then the package will add missing strings, deprecated strings, etc... norm

[2018-03-08 08:53] gemal opened #71 "Support for Laravel 5.6"
Any chance for support for Laravel 5.6?

[2018-03-13 16:21] potsky commented on #71
No more coding this year guys. Sorry.

[2018-03-13 19:16] gemal commented on #71
Do you accept pull requests?

[2018-03-13 20:13] potsky commented on #71
Yes sure. I can create the 5.6 branch and let you make a PR.

[2018-03-13 20:14] potsky commented on #71
Branch created

[2018-03-13 20:17] potsky commented on #71
Want to be a collaborator @gemal ? Given that you are the guy who gave me motivation to build Pimp My Log, I can give you push access to the repo to manage it if you know what you do ! Tell me ;-)

[2018-03-21 20:43] gemal commented on #71
Sorry but I will not have the time for that. Hopefully someone else steps up so we can get this one on Laravel 5.6. Perhaps it's just a simple change to composer.json?
Do you know of any problems?

[2018-06-12 18:54] smarquina commented on #71
This PR https://github.com/potsky/laravel-localization-helpers/pull/70 looks like solves new requirements. Will you @potsky accept that PR?

[2019-09-19 02:11] mtx-z commented on #56
Hi. Any update on this? It would be great to have a command parameter `--tojson` to output json instead of php.
Or, it may be easier to generate PHP (like actually), then read it (load it with PHP as an array), convert and save to a Json from here?
@subotkevic did you work on

Thanks.

EDIT: oh, I see https://github.com/subotkevic/laravel-json-translation-helper - is it production-ready?

[2019-09-19 13:41] subotkevic commented on #56
@mtx-z I’m personally using it on few projects in production.

[2019-09-20 01:27] mtx-z commented on #56
@subotkevic cool I'll give it a try.
Does it also support **[Using translation string as key](https://laravel.com/docs/5.7/localization#using-translation-strings-as-keys)** feature (translations file have to be JSON formatted)?
Or only "classic" [short key formatted](https://laravel.com/docs/5.7/localization#using-short-keys) blade detection and translation file creation.
Thanks :)

[2020-03-12 06:50] harimau99 commented on #68
i also received the same error. would be solution given by @knno  is the solution ?

[2020-03-19 19:17] #56 closed

[2022-10-13 08:39] schniper opened #74 "Fork with up to date MS translator support, PHP 8 and Laravel 8/9 support"
Hi,

First of all, many thanks to Potsky for his great work - I have used this library on a number of projects, back in the day.
Recently I needed to use it again and ran into the current compatibility issues. As the repo seems more or less abandoned, I have created a fork with the following features:
- PHP 8 support
- Laravel 8/9 support
- Up to date MS translator support based on client_key acce